-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: volquetes1
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alquileres`
--

DROP TABLE IF EXISTS `alquileres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alquileres` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `volquete_id` bigint(20) unsigned NOT NULL,
  `fecha_colocacion` date NOT NULL,
  `fecha_retiro` date DEFAULT NULL,
  `direccion` varchar(255) NOT NULL,
  `cliente` varchar(255) DEFAULT NULL,
  `lat` decimal(10,7) NOT NULL,
  `lng` decimal(10,7) NOT NULL,
  `nota` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `alquileres_volquete_id_fecha_retiro_index` (`volquete_id`,`fecha_retiro`),
  CONSTRAINT `alquileres_volquete_id_foreign` FOREIGN KEY (`volquete_id`) REFERENCES `volquetes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alquileres`
--

LOCK TABLES `alquileres` WRITE;
/*!40000 ALTER TABLE `alquileres` DISABLE KEYS */;
INSERT INTO `alquileres` VALUES (1,5,'2026-03-30',NULL,'Irigoyen 155, Barrio Las Bardas','privado',-39.2880000,-65.6530000,NULL,'2026-03-30 05:14:23','2026-03-30 05:14:23'),(2,1,'2026-03-30',NULL,'San Mart├¡n 450, Choele Choel','privado',-39.2831000,-65.6612000,NULL,'2026-03-30 05:14:39','2026-03-30 05:14:39'),(3,2,'2026-03-30',NULL,'Av. Roca 1230, Choele Choel','privado',-39.2795000,-65.6580000,'holaaaa','2026-03-30 05:20:35','2026-03-30 05:59:42');
/*!40000 ALTER TABLE `alquileres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alquileres_cerrados`
--

DROP TABLE IF EXISTS `alquileres_cerrados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alquileres_cerrados` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `alquiler_id` bigint(20) unsigned NOT NULL,
  `volquete_id` bigint(20) unsigned NOT NULL,
  `fecha_colocacion` date NOT NULL,
  `fecha_retiro` date NOT NULL,
  `dias` int(11) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `cliente` varchar(255) DEFAULT NULL,
  `lat` decimal(10,7) DEFAULT NULL,
  `lng` decimal(10,7) DEFAULT NULL,
  `nota` varchar(500) DEFAULT NULL,
  `reemplazos_total` int(11) NOT NULL DEFAULT 0,
  `dinero_total_ars` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `alquileres_cerrados_alquiler_id_unique` (`alquiler_id`),
  KEY `alquileres_cerrados_volquete_id_foreign` (`volquete_id`),
  CONSTRAINT `alquileres_cerrados_alquiler_id_foreign` FOREIGN KEY (`alquiler_id`) REFERENCES `alquileres` (`id`) ON DELETE CASCADE,
  CONSTRAINT `alquileres_cerrados_volquete_id_foreign` FOREIGN KEY (`volquete_id`) REFERENCES `volquetes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alquileres_cerrados`
--

LOCK TABLES `alquileres_cerrados` WRITE;
/*!40000 ALTER TABLE `alquileres_cerrados` DISABLE KEYS */;
/*!40000 ALTER TABLE `alquileres_cerrados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dinero_movimientos`
--

DROP TABLE IF EXISTS `dinero_movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dinero_movimientos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `concepto` enum('colocacion','reemplazo') NOT NULL,
  `monto_ars` int(11) NOT NULL,
  `nota` varchar(500) DEFAULT NULL,
  `volquete_id` bigint(20) unsigned DEFAULT NULL,
  `alquiler_id` bigint(20) unsigned DEFAULT NULL,
  `movimiento_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `dinero_movimientos_volquete_id_foreign` (`volquete_id`),
  KEY `dinero_movimientos_alquiler_id_foreign` (`alquiler_id`),
  KEY `dinero_movimientos_movimiento_id_foreign` (`movimiento_id`),
  KEY `dinero_movimientos_fecha_concepto_index` (`fecha`,`concepto`),
  CONSTRAINT `dinero_movimientos_alquiler_id_foreign` FOREIGN KEY (`alquiler_id`) REFERENCES `alquileres` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dinero_movimientos_movimiento_id_foreign` FOREIGN KEY (`movimiento_id`) REFERENCES `movimientos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dinero_movimientos_volquete_id_foreign` FOREIGN KEY (`volquete_id`) REFERENCES `volquetes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dinero_movimientos`
--

LOCK TABLES `dinero_movimientos` WRITE;
/*!40000 ALTER TABLE `dinero_movimientos` DISABLE KEYS */;
INSERT INTO `dinero_movimientos` VALUES (1,'2026-03-30','colocacion',52000,'colocaci├│n (auto)',5,1,1,'2026-03-30 05:14:23','2026-03-30 05:14:23'),(2,'2026-03-30','reemplazo',52000,'reemplazo (auto)',5,1,2,'2026-03-30 05:14:33','2026-03-30 05:14:33'),(3,'2026-03-30','colocacion',52000,'colocaci├│n (auto)',1,2,3,'2026-03-30 05:14:39','2026-03-30 05:14:39'),(4,'2026-03-30','colocacion',52000,'colocaci├│n (auto)',2,3,4,'2026-03-30 05:20:35','2026-03-30 05:20:35'),(5,'2026-03-30','reemplazo',52000,'reemplazo (auto)',2,3,5,'2026-03-30 05:20:55','2026-03-30 05:20:55');
/*!40000 ALTER TABLE `dinero_movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (36,'2026_02_17_000001_create_volquetes_table',1),(37,'2026_02_17_000002_create_movimientos_table',1),(38,'2026_02_19_022624_create_sessions_table',1),(39,'2026_02_19_182359_create_alquilers_table',1),(40,'2026_02_24_000003_add_es_privado_to_volquetes_table',1),(41,'2026_03_03_000004_create_dinero_movimientos_table',1),(42,'2026_03_03_000010_create_alquileres_cerrados_table',1),(43,'2026_03_10_000002_create_password_reset_tokens_table',1),(44,'2026_03_10_155917_create_users_table',1),(45,'2026_03_10_182100_create_cache_table',1);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimientos`
--

DROP TABLE IF EXISTS `movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `movimientos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `volquete_id` bigint(20) unsigned NOT NULL,
  `fecha` date NOT NULL,
  `tipo` enum('colocacion','retiro','traslado') NOT NULL,
  `ubicacion_anterior` varchar(255) DEFAULT NULL,
  `ubicacion_nueva` varchar(255) DEFAULT NULL,
  `lat_anterior` double DEFAULT NULL,
  `lng_anterior` double DEFAULT NULL,
  `lat_nueva` double DEFAULT NULL,
  `lng_nueva` double DEFAULT NULL,
  `nota` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `movimientos_volquete_id_foreign` (`volquete_id`),
  CONSTRAINT `movimientos_volquete_id_foreign` FOREIGN KEY (`volquete_id`) REFERENCES `volquetes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimientos`
--

LOCK TABLES `movimientos` WRITE;
/*!40000 ALTER TABLE `movimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('jefe','empleado') NOT NULL DEFAULT 'empleado',
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Jefe','kevinpage866@gmail.com',NULL,'$2y$12$2Qd44M/PsaSQmxtCXBGTyOZQqLOq/Jvq/FVax846RlTFe6PmPc1Xq','jefe',1,NULL,'2026-03-30 05:14:01','2026-03-30 05:14:01'),(2,'Empleado','empleado@gmail.com',NULL,'$2y$12$QIUxyYla12XbmhC2639x.OYVjugTF3vyBtBNTW2ibLQ5xnbtzA8cW','empleado',1,NULL,'2026-03-30 05:14:03','2026-03-30 05:14:03');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volquetes`
--

DROP TABLE IF EXISTS `volquetes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `volquetes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `estado` enum('disponible','ocupado','en_transito','mantenimiento') NOT NULL DEFAULT 'disponible',
  `lat` double NOT NULL,
  `lng` double NOT NULL,
  `direccion` varchar(255) NOT NULL,
  `cliente` varchar(255) DEFAULT NULL,
  `fecha_colocacion` date DEFAULT NULL,
  `es_privado` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `volquetes_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volquetes`
--

LOCK TABLES `volquetes` WRITE;
/*!40000 ALTER TABLE `volquetes` DISABLE KEYS */;
/*!40000 ALTER TABLE `volquetes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-30 21:34:56

